.half-mask-container {
    width: 260px;  /* Größe der Box */
    height: 130px; /* Maximale Höhe des Halbkreises */
    overflow: hidden; /* Verhindert, dass Box größer wird */
    display: flex;
    position: relative;
}

.circle1 {
    border-radius: 100%;
    height: 260px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: end;

    overflow: hidden;
    background: conic-gradient(from -90deg, #ffee37 0deg, #ff8c00 90deg, #b40101 180deg);
}
.circle2 {
    border-radius: 100%;
    height: 220px;
    width: 190px;
    background: #f6f6f6;

    overflow: hidden;
}

.uv-container {
    position: relative;
}

.uv-value {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}