@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: #ffffff98;
  border-radius: 40px;
  border: 10px solid hsl(0, 0%, 70%); /* Border in der gleichen Farbe wie der Hintergrund */
  width: 100vw;  /* Nimmt die gesamte Breite */
  height: 100vh; /* Nimmt die gesamte Höhe */
}

/* Styles for the header container */
.header {
  display: flex;
  grid-row: 1;
  grid-column: 2 / 4; /* Nimmt die mittleren zwei Spalten ein */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
}
.errorDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 /4;
  grid-row: 1;
  font-size: 3.5rem;
  padding: 20px; 
  font-weight: bold;
}

.toggle-buttons {
  display: flex;
  grid-row: 1;
  grid-column: 4;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.toggle-buttons button {
  background-color: #bfbfbf;
  border: none;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
  border-radius: 100%;
  transition: background-color 0.3s;
}

.toggle-buttons button.active {
  background-color: #000000;
  color: white;
}