@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Wendet border-box auf ALLE Elemente an */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: #ffffff98;
  border-radius: 40px;
  border: 10px solid hsl(0, 0%, 70%); /* Border in der gleichen Farbe wie der Hintergrund */
  width: 100vw;  /* Nimmt die gesamte Breite */
  height: 100vh; /* Nimmt die gesamte Höhe */
}

.weatherForm {
  padding: 20px;
  grid-column: 1;
  grid-row: 1 / 5;
  border-top-left-radius: 30px;  /* Nur obere linke Ecke abrunden */
  border-bottom-left-radius: 30px; 
  background-color: rgba(255, 255, 255, 0.703);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherForm img {
  width: 80%;
  height: 80%;
  object-fit: fill;
}

.temp {
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}


.cityInput {
  padding: 10px;
  margin: 30px;
  font-size: 1rem;
  border: none;
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  width: 300px;
}

.cityInput:focus {
  outline: none;
}

.card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  
  display: grid;
  gap: 15px; /* Abstand zwischen den Elementen */
  place-items: center; /* Alle Elemente zentrieren */
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay, .tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.8);
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.weatherEmoji {
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}